.container {
  padding: 0 20px;

  margin: 0 auto;
  @media screen and (min-width: $phone) {
    width: $phone;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 32px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.visually-hidden {
position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

