$main-font: 'Roboto';
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$colors: (
  'black-text-color': #000000,
  'red-text-color': #b92f2c,
  'white-text-color': #ffffff,
  'grey-text-color': #8c8c8c,
  'accent-color': #b92f2c,
  'white-color': #ffffff,
  'black-color': #000000,
  'modal-backdrop-bg-color': rgb(129, 124, 124, 0.3),
  'black-theme-text-color': rgba(225, 225, 225, 0.8),
  'black-theme-accent-color': #ff6b01,
);
@function getcolor($key) {
  @return map-get($colors, $key);
}
$phone: 320px;
$tablet: 768px;
$desktop: 1280px;
