<main>
  <section class="cards">
    <div class="container">
      <ul class="cards__film list">
        <li class="movie" data-id="${id}">
          <div class="image"></div>
          <p class="movie__title">${title}</p>
          <p class="movie__genres">${movieGenres}</p>
          <p class="movie__year">${movieYear}</p>
        </li>
        <li class="movie" data-id="${id}">
          <div class="image"></div>
          <p class="movie__title">${title}</p>
          <p class="movie__genres">${movieGenres}</p>
          <p class="movie__year">${movieYear}</p>
        </li>
        <li class="movie" data-id="${id}">
          <div class="image"></div>
          <p class="movie__title">${title}</p>
          <p class="movie__genres">${movieGenres}</p>
          <p class="movie__year">${movieYear}</p>
        </li>
      </ul>
    </div>
  </section>
</main>
