<div class="backdrop is-hidden" id="backdrop">
  <div class="film-info">
    <button type="button" class="film-info__close js-close">
      <svg width="30" height="30">
        <use href="./images/header/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film-info__wrapper">
      <div class="film-info__image-wrapper">
        <img
          src="#"
          alt="placeholder"
          id="film-modal-image"
          class="film-info__image"
          width="240"
          height="357"
        />
        <button type="button" class="trailer-btn" id="js-trailer">
          <svg width="45" height="45">
            <use href="./images/header/icons.svg#icon-play3"></use>
          </svg>
        </button>
      </div>

      <div class="film-info__text-wrapper">
        <h2 class="film-info__name" id="film-name"></h2>
        <div class="film-info__lists-wrapper">
          <ul class="film-info__list">
            <li class="film-info__item">Vote / Votes</li>
            <li class="film-info__item">Popularity</li>
            <li class="film-info__item">Original Title</li>
            <li class="film-info__item">Genre</li>
          </ul>
          <ul class="film-info__dataset">
            <li class="film-info__data">
              <span
                class="film-info__data film-info__data--red"
                id="average-votes"
              ></span>
              <span class="film-info__data film-info__data--lightgrey">/</span>
              <span class="film-info__data film-info__data--grey" id="votes">
              </span>
            </li>
            <li class="film-info__data" id="popularity"></li>
            <li class="film-info__data" id="original-title"></li>
            <li class="film-info__data" id="genre"></li>
          </ul>
        </div>
        <div class="film-info__about-wrapper">
          <h3 class="film-info__about">About</h3>
          <p class="film-info__text" id="film-overview"></p>
          <ul class="buttons-list">
            <li class="buttons-list__item">
              <button
                type="button"
                class="add-watched buttons-list__button"
                id="js-watched"
              >
                Add to Watched
              </button>
            </li>
            <li class="buttons-list__item">
              <button
                type="button"
                class="add-queue buttons-list__button buttons-list__button--transparent"
                id="js-queue"
              >
                Add to Queue
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
