<div class="backdrop">
  <div class="film-info">
    <button type="button" class="film-info__close">
      <svg width="30" height="30">
        <use href="./images/header/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film-info__wrapper">
      <div class="film-info__image-wrapper"></div>
      <div class="film-info__text-wrapper">
        <h2 class="film-info__name">Lorem ipsum dolor sit.</h2>
        <ul class="film-info__list">
          <li class="film-info__item">
            Vote / Votes
            <span class="film-info__item film-info__item--margin"></span>
          </li>
          <li class="film-info__item">
            Popularity
            <span class="film-info__item film-info__item--margin"></span>
          </li>
          <li class="film-info__item">
            Original Title
            <span class="film-info__item film-info__item--margin"></span>
          </li>
          <li class="film-info__item">
            Genre <span class="film-info__item film-info__item--margin"></span>
          </li>
        </ul>
        <div class="film-info__about-wrapper">
          <h3 class="film-info__about">About</h3>
          <p class="film-info__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
            voluptatem similique id officia placeat architecto non ratione, ex
            magnam quidem obcaecati! Nobis voluptatibus quisquam, sunt magni
            culpa deserunt dignissimos iure aliquam itaque, et ex sapiente ea
            commodi dolorem voluptatum quasi reiciendis dolor ab harum! Hic a
            dolorem ipsa fugiat aut.
          </p>
          <ul class="buttons-list">
            <li class="buttons-list__item">
              <button
                type="button"
                class="buttons-list__button buttons-list__button--red"
              >
                Add to Watched
              </button>
            </li>
            <li class="buttons-list__item">
              <button
                type="button"
                class="buttons-list__button buttons-list__button--transparent"
              >
                Add to Queue
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
