<div class="backdrop is-hidden" id="modal-team">
  <div class="modal-team">
    <button type="button" class="modal-team__close">
      <svg width="30" height="30">
        <use href="./images/modal-team/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-team__title">Agence Digitale Team</h2>
    <ul class="modal-team__list">
      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Vadim-Pudovkin1x.webp 1x,
            ./images/modal-team/Vadim-Pudovkin2x.webp 2x
          " src="./images/modal-team/Vadim-Pudovkin1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/vadim-pudovkin-93b378254/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Vadim Pudovkin</h3>
            <p class="description">Team Lead</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Anna-Till1x.webp 1x,
            ./images/modal-team/Anna-Till2x.webp 2x
          " src="./images/modal-team/Anna-Till1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/anna-till-80b2a8267/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Anna Till</h3>
            <p class="description">Scrum Master</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img class="modal-team__photo" srcset="
              ./images/modal-team/Michael-Lykhovyd1x.webp 1x,
              ./images/modal-team/Michael-Lykhovyd2x.webp 2x
            " src="./images/modal-team/Michael-Lykhovyd1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/michael-lykhovyd/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Michael Lykhovyd</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Roksolana-Busko1x.webp 1x,
            ./images/modal-team/Roksolana-Busko2x.webp 2x
          " src="./images/modal-team/Roksolana-Busko1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/roksolana-busko/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Roksolana BUSKO</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img src="./images/modal-team/Vadim-Pudovkin1x.webp">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Vadim Pudovkin</h3>
            <p class="description">Team Lead</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img src="./images/modal-team/Vadim-Pudovkin1x.webp">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Vadim Pudovkin</h3>
            <p class="description">Team Lead</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img src="./images/modal-team/Vadim-Pudovkin1x.webp">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin"><svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Vadim Pudovkin</h3>
            <p class="description">Team Lead</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img src="./images/modal-team/Vadim-Pudovkin1x.webp">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin"><svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Vadim Pudovkin</h3>
            <p class="description">Team Lead</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img src="./images/modal-team/Vadim-Pudovkin1x.webp">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin"><svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Vadim Pudovkin</h3>
            <p class="description">Team Lead</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img src="./images/modal-team/Vadim-Pudovkin1x.webp">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin"><svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Vadim Pudovkin</h3>
            <p class="description">Team Lead</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>