<div class="backdrop is-hidden" id="modal-team">
  <div class="modal-team">
    <button type="button" class="modal-team__close">
      <svg width="30" height="30">
        <use href="./images/modal-team/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-team__title">Agence Digitale Team</h2>
    <ul class="modal-team__list">
      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Vadim-Pudovkin1x.webp 1x,
            ./images/modal-team/Vadim-Pudovkin2x.webp 2x
          " src="./images/modal-team/Vadim-Pudovkin1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/vadim-pudovkin-93b378254/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Vadim Pudovkin</h3>
            <p class="description">Team Lead</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Anna-Till1x.webp 1x,
            ./images/modal-team/Anna-Till2x.webp 2x
          " src="./images/modal-team/Anna-Till1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/anna-till-80b2a8267/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Anna Till</h3>
            <p class="description">Scrum Master</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img class="modal-team__photo" src="./images/modal-team/michael-lykhovid-linkedin.jpg" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/michael-lykhovyd/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Michael Lykhovyd</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Roksolana-Busko1x.webp 1x,
            ./images/modal-team/Roksolana-Busko2x.webp 2x
          " src="./images/modal-team/Roksolana-Busko1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/roksolana-busko/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Roksolana BUSKO</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Yuliya-Kubar1x.webp 1x,
            ./images/modal-team/Yuliya-Kubar2x.webp 2x
          " src="./images/modal-team/Yuliya-Kubar1x.webp" alt="foto">
            <ul class="social">
              <li><a
                  href="https://www.linkedin.com/in/%D1%8E%D0%BB%D1%96%D1%8F-%D0%BA%D1%83%D0%B1%D0%B0%D1%80%D1%8C-70733a259/"
                  class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Yuliya KUBAR</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Ruslan-Zorkin1x.webp 1x,
            ./images/modal-team/Ruslan-Zorkin2x.webp 2x
          " src="./images/modal-team/Ruslan-Zorkin1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/ruslan-zorkin/" class="team-member__linkedin">
                  <svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg>
                </a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Ruslan ZORKIN</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Volodymyr-Kostenko1x.webp 1x,
            ./images/modal-team/Volodymyr-Kostenko2x.webp 2x
          " src="./images/modal-team/Volodymyr-Kostenko1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin"><svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Volodymyr Kostenko</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Serghei-Siracenco1x.webp 1x,
            ./images/modal-team/Serghei-Siracenco2x.webp 2x
          " src="./images/modal-team/Serghei-Siracenco1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin"><svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Serghei SIRACENCO</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Illya-Sidor1x.webp 1x,
            ./images/modal-team/Illya-Sidor2x.webp 2x
          " src="./images/modal-team/Illya-Sidor1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="#" class="team-member__linkedin"><svg class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Illya SIDOR</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>

      <li class="team-member">
        <div class="our-team">
          <div class="team-image">
            <img srcset="
            ./images/modal-team/Andrew-Ketsko1x.webp 1x,
            ./images/modal-team/Andrew-Ketsko2x.webp 2x
          " src="./images/modal-team/Andrew-Ketsko1x.webp" alt="Foto">
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/andrew-ketsko-660788271/" class="team-member__linkedin"><svg
                    class="team-member__icon" width="24" height="24">
                    <use href="./images/modal-team/icons.svg#linkedin"></use>
                  </svg></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Andrew KETSKO</h3>
            <p class="description">Developer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>