<div class="backdrop is-hidden" id="modal-team">
  <div class="modal-team">
    <button type="button" class="modal-team__close">
      <svg width="30" height="30">
        <use href="./images/modal-team/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-team__title">Agence Digitale Team</h2>
    <ul class="modal-team__list">
      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Vadim-Pudovkin1x.webp 1x,
            ./images/modal-team/Vadim-Pudovkin2x.webp 2x
          "
          src="./images/modal-team/Vadim-Pudovkin1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb">
          <p class="modal-team__name">Vadim PUDOVKIN</p>
          <p class="modal-team__role">Team Lead</p>
          <a
            class="modal-team__link"
            href="https://www.linkedin.com/in/vadim-pudovkin-93b378254/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Anna-Till1x.webp 1x,
            ./images/modal-team/Anna-Till2x.webp 2x
          "
          src="./images/modal-team/Anna-Till1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb">
          <p class="modal-team__name name-correction">Anna TILL</p>
          <p class="modal-team__role">Scrum Master</p>
          <a
            class="modal-team__link"
            href="https://www.linkedin.com/in/anna-till-80b2a8267/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Michael-Lykhovyd1x.webp 1x,
            ./images/modal-team/Michael-Lykhovyd2x.webp 2x
          "
          src="./images/modal-team/Michael-Lykhovyd1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb">
          <p class="modal-team__name">Michael LYKHOVYD</p>
          <p class="modal-team__role">Developer</p>
          <a
            class="modal-team__link"
            href="https://www.linkedin.com/in/michael-lykhovyd/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Roksolana-Busko1x.webp 1x,
            ./images/modal-team/Roksolana-Busko2x.webp 2x
          "
          src="./images/modal-team/Roksolana-Busko1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb">
          <p class="modal-team__name">Roksolana BUSKO</p>
          <p class="modal-team__role">Developer</p>
          <a
            class="modal-team__link"
            href="https://www.linkedin.com/in/roksolana-busko/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Yuliya-Kubar1x.webp 1x,
            ./images/modal-team/Yuliya-Kubar2x.webp 2x
          "
          src="./images/modal-team/Yuliya-Kubar1x.webp"
          width="50"
          alt="foto"
        />
        <div class="modal-team__thumb thumb-correction">
          <p class="modal-team__name name-correction">Yuliya KUBAR</p>
          <p class="modal-team__role">Developer</p>
          <a
            class="modal-team__link"
            href="https://www.linkedin.com/in/%D1%8E%D0%BB%D1%96%D1%8F-%D0%BA%D1%83%D0%B1%D0%B0%D1%80%D1%8C-70733a259/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Ruslan-Zorkin1x.webp 1x,
            ./images/modal-team/Ruslan-Zorkin2x.webp 2x
          "
          src="./images/modal-team/Ruslan-Zorkin1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb">
          <p class="modal-team__name">Ruslan ZORKIN</p>
          <p class="modal-team__role">Developer</p>
          <a
            class="modal-team__link"
            href="https://www.linkedin.com/in/ruslan-zorkin/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Volodymyr-Kostenko1x.webp 1x,
            ./images/modal-team/Volodymyr-Kostenko2x.webp 2x
          "
          src="./images/modal-team/Volodymyr-Kostenko1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb">
          <p class="modal-team__name">Volodymyr KOSTENKO</p>
          <p class="modal-team__role">Developer</p>
          <a
            class="modal-team__link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Serghei-Siracenco1x.webp 1x,
            ./images/modal-team/Serghei-Siracenco2x.webp 2x
          "
          src="./images/modal-team/Serghei-Siracenco1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb">
          <p class="modal-team__name">Serghei SIRACENCO</p>
          <p class="modal-team__role">Developer</p>
          <a
            class="modal-team__link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Illya-Sidor1x.webp 1x,
            ./images/modal-team/Illya-Sidor2x.webp 2x
          "
          src="./images/modal-team/Illya-Sidor1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb thumb-correction">
          <p class="modal-team__name name-correction">Illya SIDOR</p>
          <p class="modal-team__role">Developer</p>
          <a
            class="modal-team__link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>

      <li class="modal-team__item">
        <img
          class="modal-team__photo"
          srcset="
            ./images/modal-team/Andrew-Ketsko1x.webp 1x,
            ./images/modal-team/Andrew-Ketsko2x.webp 2x
          "
          src="./images/modal-team/Andrew-Ketsko1x.webp"
          width="50"
          alt="Foto"
        />
        <div class="modal-team__thumb">
          <p class="modal-team__name">Andrew KETSKO</p>
          <p class="modal-team__role">Developer</p>
          <a
            class="modal-team__link"
            href="https://www.linkedin.com/in/andrew-ketsko-660788271/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </div>
      </li>
    </ul>
  </div>
</div>
