.film-info {
  position: absolute;
  border-radius: 5px;
  padding-top: 48px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;

  background-color: #ffffff;
  text-align: left;

  min-height: 200px;
  width: 280px;

  @media screen and (max-width: 767px) {
    top: 450px;
    left: 50%;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-right: 72px;
    padding-bottom: 40px;
    padding-left: 36px;
    min-width: 704px;
    min-height: 560px;
    top: 50%;
    left: 50%;
  }

  @media screen and (min-width: $desktop) {
    min-width: 806px;
    padding-left: 12px;
    padding-right: 12px;
  }
  &__close {
    position: absolute;
    top: 8;
    right: 8;
    background-color: transparent;
    border: none;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      gap: 68px;
    }
    @media screen and (min-width: $desktop) {
      gap: 16px;
    }
  }
  .trailer-btn {
    width: 45px;
    height: 45px;
    padding-left: 2px;
    background-color: getcolor(accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.5;
    &:hover {
      transform: scale(1.05);
    }
    &:hover > svg,
    &:focus > svg {
      fill: getcolor(white-color);
    }
  }
  &__image-wrapper {
    position: relative;
  }
  &__image {
    width: 240px;
    height: 348px;
    background-color: grey;
    transition: 250ms $time-function;
    border-radius: 25px;

    @media screen and (min-width: $tablet) {
      min-width: 264px;
      height: 350px;
    }
    @media screen and (min-width: $desktop) {
      min-width: 350px;
      height: 478px;
    }
  }
  &__lists-wrapper {
    display: flex;
    align-items: center;
    gap: 39px;
    @media screen and (min-width: $desktop) {
      gap: 85px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 20px 0;
  }
  &__dataset {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__data {
    color: getcolor(black-text-color);
    &--red {
      color: getcolor(white-text-color);
      background-color: getcolor(accent-color);
      width: 36px;
      display: inline-block;
      text-align: center;
      border-radius: 5px;
      font-size: 12px;
      vertical-align: middle;
    }
    &--lightgrey {
      color: #8c8c8c;
    }
    &--grey {
      background-color: #f7f7f7;
      color: getcolor(black-text-color);
      width: 36px;
      display: inline-block;
      text-align: center;
      border-radius: 5px;
      font-size: 12px;
      vertical-align: middle;
    }
  }

  &__item {
    font-size: 12px;
    line-height: 1.33;
    color: getcolor(grey-text-color);
  }
  &__name {
    font-size: 20px;
    line-height: calc(23 / 20);
    @media screen and (min-width: $desktop) {
      font-size: 30px;
    }
  }
  &__about {
    text-transform: uppercase;
    line-height: 1.33;
    font-size: 12px;
  }
  &__text {
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.67;
  }
}
.buttons-list {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;

  &__button {
    font-size: 11px;
    line-height: calc(14 / 11);
    border-radius: 20px;
    padding: 10px 14px;
    text-transform: uppercase;
    cursor: pointer;

    @media screen and (min-widht: $tablet) {
      padding: 12px 18px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 12px;
      padding: 14px 32px;
    }
    &--red {
      border: 2px solid transparent;
      background-color: getcolor(accent-color);
      color: getcolor(white-text-color);
      justify-self: center;
      &:hover,
      &:focus {
        border-color: getcolor(black-color);
        color: getcolor(black-text-color);
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      }
    }
    &--transparent {
      background-color: transparent;
      color: getcolor(red-text-color);
      border: 2px solid getcolor(black-color);
      &:hover,
      &:focus {
        border-color: getcolor(accent-color);
        color: getcolor(black-text-color);
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      }
    }
  }
}
