.header-container {
  position: relative;
  background-color: black;
  margin: 20 auto;
  width: 280px;
  height: 460px;
  @media screen and (max-width: 319px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 222px;
  }

  @media screen and (min-width: 1280px) {
    width: 1216px;
    height: 316px;
  }
}

.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.49),
      rgba(0, 0, 0, 0)
    ),
    url(../images/header/header-background-image@1x-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
}

@media (min-devaice-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.49),
        rgba(0, 0, 0, 0)
      ),
      url(../images/header/header-background-image@2x-mobile.jpg);
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.49),
        rgba(0, 0, 0, 0)
      ),
      url(../images/header/header-background-image@1x-tablet.jpg);
    border-radius: 15px;
  }

  @media (min-devaice-pixel-ratio: 2), (min-resolution: 192dpi) {
    .header {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.49),
          rgba(0, 0, 0, 0)
        ),
        url(../images/header/header-background-image@2x-tablet.jpg);
    }
  }
}

@media screen and (min-width: $desktop) {
  .header {
    margin: 32px auto;
    width: 1216px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.49),
        rgba(0, 0, 0, 0)
      ),
      url(../images/header/header-background-image@1x-desctop.jpg);
  }

  @media (min-devaice-pixel-ratio: 2), (min-resolution: 192dpi) {
    .header {
      margin: 32px auto;
      width: 1216px;
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.49),
          rgba(0, 0, 0, 0)
        ),
        url(../images/header/header-background-image@2x-desctop.jpg);
    }
  }
}

// .header-nav--position {
//   position: relative;
// }

.header-form {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    top: 33px;
    left: 88px;
    transform: translate(-50%, -50%);

    height: 36px;
    width: 147px;
  }

  @media screen and (min-width: 1280px) {
    top: 37px;
    left: 115px;

    width: 165px;
    height: 42px;
  }
}

.header-form__input {
  width: 252px;
  height: 34px;
  background-color: #ffffff;
  border-radius: 100px;
  border: none;

  text-align: start;
  padding-left: 14px;

  @media screen and (min-width: 768px) {
    width: 165px;
    height: 38px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1280px) {
    width: 165px;
    height: 42px;
  }
}

.header-nav {
  padding: 14px;

  @media screen and (max-width: 767px) {
  padding-left: 22px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 185px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 16px;
    padding-left: 210px;
  }
}

.header-nav_home {
  width: 87px;
  height: 34px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-weight: 500;
  text-align: center;
  font-size: 12px;

  margin-right: 4px;

  @media screen and (min-width: 768px) {
    width: 83px;
    height: 38px;
  }

  @media screen and (min-width: 1280px) {
    width: 99px;
    height: 42px;

    margin-right: 8px;
  }
}

.header-nav_library {
  width: 113px;
  height: 34px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-weight: 500;
  text-align: center;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    width: 109px;
    height: 38px;
  }

  @media screen and (min-width: 1280px) {
    width: 117px;
    height: 42px;
  }
}

.header-nav--active {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.header-form__button--svg {
  width: 14px;
  height: 14px;
  border: none;

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.header-form__button {
  position: absolute;
  padding: 0;
  top: 18px;
  right: 14px;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    top: 18px;
    right: -15px;
    width: 16px;
    height: 16px;
  }

  @media screen and (min-width: 1280px) {
    right: 0;
    top: 20px;
  }
}

.header-form--search {
  position: absolute;
  top: 115px;
  left: 117px;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  margin: 0;

  @media screen and (min-width: 768px) {
    top: 72px;
    left: 90px;

    width: 135px;
    height: 24px;
  }

  @media screen and (min-width: 1280px) {
    top: 75px;
    left: 115px;
  }
}

.header-logo--position {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    left: 126px;
  }

  @media screen and (min-width: 1280px) {
    left: 204px;
  }
}

.header-logo__svg {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  vertical-align: sub;

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 59px;
    height: 59px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.17;
  }
}

//Library
@media screen and (max-width: 767px) {
  .header-logo__library--position {
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
.header-button__library {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  @media screen and (min-width: 768px) {
    top: 33px;
    left: 581px;
    height: fit-content;
  }

  @media screen and (min-width: 1280px) {
    top: 37px;
    left: 1063px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header-button__library--watched {
  width: 102px;
  height: 34px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-weight: 500;
  text-align: center;
  font-size: 12px;

  color: rgba(185, 47, 44, 1);
  margin-right: 4px;

  @media screen and (min-width: 768px) {
    height: 38px;
  }

  @media screen and (min-width: 1280px) {
    width: 120px;
    height: 42px;
    margin-right: 8px;
  }
}

.header-button__library--queue {
  width: 86px;
  height: 34px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-weight: 500;
  text-align: center;
  font-size: 12px;

  color: rgba(185, 47, 44, 1);

  @media screen and (min-width: 768px) {
    height: 38px;
  }

  @media screen and (min-width: 1280px) {
    height: 42px;
  }
}

.header-button__library--active {
  box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.314);
  background-color: rgba(185, 47, 44, 1);
  color: rgb(255, 255, 255);
}

.error_localstoragy {
  font-size: 20px;
  color: #00000096;
  text-align: center;
  margin: 50px auto;

  @media screen and (min-width: 768px) {
    margin: 100px auto;
  }
}
